<!DOCTYPE html>
<html>
<head>
    <title>Book Recommendation System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Recommendation System</h1>
        <form method="POST" action="/recommend_books">
            <div class="form-group">
                <label for="user_id">Enter book name:</label>
                <input type="text" class="form-control" id="user_input" name="user_input" required>
            </div>
            <button type="submit" class="btn btn-primary">Get Recommendations</button>
        </form>

        {%if data%}
        <div class="row">
            {% for i in data %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ i[2] }}" class="card-img-top" alt="Book Image">
                    <div class="card-body">
                        <h5 class="card-title">Title: {{ i[0] }}</h5>
                        <p class="card-text">Author: {{ i[1] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {%else%}
        {%endif%}

        
    </div>
</body>
</html>
